<!DOCTYPE html>
<html lang="en" xmlns.th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>
</head>
<body>
<form action="editar" method="put" th:object="${usuario}">
    <input type="hidden" th:value="${usuario.id}">
    <div class="mb-3">
        <label for="nome" class="form-label"  >Digite seu nome</label>
        <input type="text" class="form-control" name="nome" th:value="${usuario.nome}">
    </div>
    <div>
        <label for="profissao" class="form-label" >Digite sua profissão</label>
        <input type="text" class="form-control" name="profissao" th:value="${usuario.profissao}">
    </div>
    <div>
        <label for="idade" class="form-label" >Digite sua idade</label>
        <input type="number" class="form-control" name="idade" th:value="${usuario.idade}">
    </div>
    <button type="submit">Criar Usuario</button>
</form>
</body>
</html>