<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Nome</th>
    </tr>
    <tr>
        <th scope="row">Profissão</th>
    </tr>
    <tr>
        <th scope="row">Idade</th>
    </tr>
    </tbody>
</table>
</body>
</html>