<!DOCTYPE html>
<html lang="en" xmlns.th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
</head>
<body>
<table class="table">
    <tbody>
    <tr>
        <td>nome</td>
        <td>profissao</td>
        <td>idade</td>
    </tr>
    <tr th:each="usuario : ${lista}">
        <td th:text=${usuario.nome}></td>
        <td th:text=${usuario.profissao}></td>
        <td th:text=${usuario.idade}></td>
        <td><a th:href="@{'editar/' + ${usuario.id}}" method="get"> Editar</a></td>
        <td><a th:href="@{'deletar/' + ${usuario.id}}">Deletar</a></td>
    </tr>
    </tbody>
</table>

<div> <a href="/">Listar Usuarios</a> </div>
</body>
</html>